body {
    background-color: hsl(240, 43%, 77%, 0.5);
}

#welcome {
    display: flex;
    justify-content: center;
    padding: 16px 16px;
    border-radius: 6px;
    background-color: rgba(137, 115, 223, 0.3);
    

}

#flavorBox {
    display: flex;
    flex-direction: column;
    
}

h2 {
    justify-content: center;
}